.Categories{
	text-shadow: 2px 2px black;
	color:white;
	font-size: 30px;
	font-weight: bold;
	padding:35px;
	margin:50px ;
	text-align: center;


}

	.Categories h1{
		background-image: url('../Images/vegetables.jpg');
		padding: 35px;
	}
	
	
	
	.Categories h2{
		background-image: url('../Images/other.jpg');
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		padding:35px;
	}
	.Categories h3{
		background-image: url('../Images/dairy-egg.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position:center;
		padding: 35px;
	}
	.Categories h4{
		background-image: url('../Images/meats.jpg');
		background-position:bottom;
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		padding: 35px;
	}
	.Categories h5{
		font-size: 30px;
		background-image: url('../Images/seafood.jpg');
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		padding: 35px;
	}


/*p.2*/
	.format{
		display:flex;
		flex-wrap: wrap;
		justify-content:center;
	}
	.contour{ 
		height: 298px;
		max-width:225px;
		border-color: black;
		border-style: solid;
		border-width: 2px;
		margin:10px;
		border-radius: 60px;
	}

	.article_text{
		text-align:center;
		line-height:1.5;
		width:225px;
		color:black;
		font-weight:bold;
	}
	.article_image{
		height:200px;
		width:225px;
		position:relative;
	}
	.article_image img{
		max-width:170px;
		position: absolute;
		top: 50%;
		left: 49%;
		transform: translate(-50%, -50%);
	}
	




/*p.3*/
@media screen and (max-width: 600px) {
	.right-side p
	{
		font-size:8px;
	}
}
	
	.products {
		margin: auto;
		max-width: 1100px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.products_row {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: center;
	}
	.right-side img{
		width:"75%";
		 height:auto;
		  max-width:75%;
		  margin-left:"auto";
		  margin-right:"auto";
	}
	.right-side {
		text-align: center;
		flex-basis: 50%;
		min-width: 300px;
	}
	
	.right-side h1 {
		font-family: Georgia, 'Times New Roman', Times, serif;
		color:black;
		text-align: center;
		font-size: 60px;
		line-height: 60px;
		margin: 25px;
		border:solid;
	}
	
	.right-side h4{
		font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		text-align: center;
		margin: 25px;
	}
	
	.button {
		display: inline-block;
		background: #00b30031;
		padding: 10px 40px;
		margin: 20px ;
		border-radius: 10px;
	}
	.accordion {
		background-color: #3c8f3c;
		color: #102cc7;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 15px;
		transition: 0.4s;
		text-align: center;
	  }
	  
	  .active, .accordion:hover {
		background-color: #3c8f3c; 
		text-decoration: underline;
	  }
	  
	  .panel {
		padding: 0 18px;
		display: none;
		background-color:rgb(204, 211, 175, 0.986);
		overflow: hidden;
	  }
	  #nutritionList{
		  text-align: left;
	  }
	  .button #add-to-cart{
		background:#1aff66 !important;
		color: 	#1aff66  !important;
		background-color:	#1aff66  !important  ;
	  }
	