.login{
    display: inline-block;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    border: 2px solid lightgrey;
    border-radius: 10px;
}
