
.row1{
    text-align: center;
}
.img-container{
    text-align: center;
    
}
.footer2 {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#343a40;
    color: white;
    text-align: center;
}
.row1{
    text-align: center;
}
.img-container{
    text-align: center;
    
}
.quick-links{
    text-align: center;
    margin:auto;
}

.shopping-cart-holder:hover{
 opacity:0.6;
}
.btn btn-secondary dropdown-toggle:hover{
    opacity:0.6;
}
.col-veg{
    background-image:url('../Images/vegetables.jpg') ;
    width: 20%;
    
}
.col-meat{
    background-image: url('../Images/meat2.jpg');
    width: 20%;
    
}
.col-egg{
    background-image: url('../Images/dairy-egg.jpg');
    width: 20%;
  
}

.col-sea{
    background-image: url('../Images/seafood.jpg');
    width: 20%;
  

}

.col-cer{
    background-image: url('../Images/other.jpg');
    width: 20%;
    
}