.container{
    width:800px;
    margin: auto;
    height:97vh;
}

.card{
    padding: 10px;
    background-color: rgb(159, 179, 71, 0.856);
    border:0px;
    border-radius: 10px;
}

.card-form{
    padding:10px;
    background-color: rgba(253, 255, 245, 0.856);
    border-radius: 10px;
}


.personal-info{
    background-color: rgb(159, 179, 71, 0.856);
    padding:10px;
    border-radius: 10px;
}

.personal-info-form{
    padding: 10px;
    background-color: rgba(253, 255, 245, 0.856);
    border-radius: 10px;
}
.contact-information{
   background-color: rgb(159, 179, 71, 0.856); 
   padding: 10px;
   border-radius: 10px;
}

.contact-info-form{
    padding: 10px;
    background-color: rgba(253, 255, 245, 0.856);
    border-radius: 10px;
}

td{
    padding:5px;
}



#signin-button{
    float:right;
}