body {

    background-color: rgb(73, 73, 73);
}

.form-box {
    background-color: darkgrey;
    margin-top: 25px;
    margin-right: 24px;
    margin-bottom: 24px;
    margin-left: 170px;
    padding: 15px;
    padding: 10px;
    height:460px;
    width: 1120px;
    color:black;
}
.column1 {
    background-color:rgb(248, 142, 70);
    text-align: left;
    float: left;
    margin: 30px;
    padding: 20px;
    color: white;
}

.column2 {
    background-color: rgb(129, 211, 243);
    float: left;
    margin: 30px;
    padding: 20px;
    color:white;
}

.column2-inner {
    background-color: lightgray;
    font-weight: bold;
    color:  rgb(49, 49, 49);
    padding: 15px;
    float: right;
}

.column1-right {
    background-color: lightgray;
    font-weight: bold;
    color:  rgb(49, 49, 49);
    padding: 15px;
    float: right;
}

.column1-left {
    background-color: lightgray;
    font-weight: bold;
    color:  rgb(49, 49, 49);
    padding: 15px;
    float: left;
}

.sidenav {
    color: white;
    background-color:lightgrey;
    width:auto;
    height: auto;
    width:160px;
    margin-top: 25px;
    padding: 20px;
    float: left;
    font-weight: bold;
    
}