.form-box {
    width:800px;
    margin: auto;
}

.button-box {
    background-color: white;
    padding-top: 10px;
    padding-bottom:10px;
    position: absolute;
    top:62px;
}
.buttons {
    position: center;
    text-align: center;
}

.contact-info{
    background-color: lightgrey;
    margin-top:45px;
    padding:10px;
    border-radius: 10px;
}

.contact-info-form{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.contact-information{
   background-color: lightgrey; 
   padding: 10px;
   border-radius: 10px;
}

.billing-info{
    background-color: lightgrey;
    padding:10px;
    border-radius: 10px;
}

.billing-info-form{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.billing-information{
   background-color: lightgrey; 
   padding: 10px;
   border-radius: 10px;
}

td{
    padding:5px;
}

input[type=text]{
    width:370px;
}

.footer2 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#343a40;
    color: white;
    text-align: center;
}